@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

body {
    overflow-x: hidden;
    width : 100vw;
    height : 100vh;
    min-height : 850px;
    font-family: 'Open Sans', sans-serif;
    background-repeat : no-repeat;
    background-cover : cover;
    background-image: linear-gradient(to bottom, #898FCB,#F0A16D);
}

#root {
    height : 100%;
    width : 100%;
}

.App {
    height : 100%;
    width : 100%;
}

#loginPageContainer, #signupContainer, #mainContainer {
    height : calc(100vh - 4rem);
}

#loginBackgroundImg {
    background-image : url("./image/loginBackgroundImg.png");
    background-size : cover;
}